/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fliegen {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateX(110vw);
    opacity: 0;
  }
}
